/* ConfirmModal.css */
.modal-header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .confirm-button,
  .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .confirm-button {
    background-color: #d9534f;
    color: white;
  }
  
  .confirm-button:hover {
    background-color: #c9302c;
  }
  
  .cancel-button {
    background-color: #5bc0de;
    color: white;
  }
  
  .cancel-button:hover {
    background-color: #31b0d5;
  }
  